# ? IDE files :
###########################################
.vscode
*.dSYM/
.DS_Store
###########################################

# ? ignore file system :
###########################################
*.ignore/
*.ignore
###########################################

# ? project unique files :
###########################################
*.o
*.a
*.gcda
*.gcno
###########################################
